/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Common CSS Started */
* {
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #226ee0ae;
  background: linear-gradient(to right, #c5bdbd, #5781b5, #01124a7b);
}
header {
  background-color: #3364ba;
  background: linear-gradient(120deg, #5d12b3, #121212);
  background: linear-gradient(120deg, #138bd6, #e20505);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 40px 1000px 350spx 80px;
}
header > div {
  font-size: 18px;
}
.left img {
  padding-left: 60px;
}
.uses {
  text-decoration: none;
  padding-top: 14px;
  padding-left: 10px;
}
.uses a {
  text-decoration: none;
  padding-left: 10px;
  color: azure;
}
.uses .fa-bars {
  color: aliceblue;
  padding-right: 5px;
}
.uses .active {
  font-size: 30px;
  color: rgb(13, 12, 12);
}
.fa-bars:hover {
  color: red;
}
.uses a:hover {
  color: rgb(242, 159, 159);
  font-weight: 600;
}
.uses .active:hover {
  color: darkorange;
}

.user {
  padding-top: 24px;
  padding-left: 60px;
}
.user button {
  border-radius: 10px;
  background-color: rgb(27, 22, 19);
}
.user .fa-magnifying-glass {
  padding-right: 5px;
  transition: transform 0.4s;
}
.user .fa-magnifying-glass:hover {
  color: lightsalmon;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.5);
}
.user a {
  text-decoration: none;
  color: rgb(3, 7, 3);
}
.user .active {
  color: rgb(198, 84, 3);
  font-size: 22px;
}
.user .passive {
  font-size: 20px;
}
.user a:hover {
  color: rgb(232, 45, 28);
  color: azure;
}

/*----------------------
    Main Section Started
  ---------------------- */
main {
  margin: 30px 60px 0px 60px;
}
.banner {
  display: flex;
  background-color: #3574d2;

  /* background: linear-gradient(to bottom right, #ff00ffbe, #00f40069); */
   background: linear-gradient(120deg, #138bd6, #e20505);
  margin-bottom: 130px;
  position: relative;
  border-radius: 20px;
  height: 650px;
}
.banner-text {
  margin-top: 30px;
  margin-left: 100px;
  width: 40%;
}
.banner-text h1 {
  color: white;
  font-weight: 700;
  font-size: 65px;
  width: 500px;
  height: 200px;
}
.banner-text h1:hover {
  color: #00ffbf;
}
.banner-text p {
  width: 506px;
  height: 78px;
  font-size: 17px;
  padding-bottom: 30px;
}
.banner-text p:hover {
  color: bisque;
  font-size: 18px;
}
.banner-text a {
  text-decoration: none;
  color: bisque;
}
.banner-text button {
  background-color: rgb(239, 14, 14);
  background: linear-gradient(120deg, #138bd6, #e20505);
  margin-top: 15px;
  color: bisque;
  font-size: 20px;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
}
.banner-text button:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}
.goat {
  width: 45%;
  padding-right: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
  position: absolute;
  bottom: -7px;
  right: 0;
}
.goat img {
  width: 670px;
  height: 640px;
  transition: transform 0.4s;
  transition-timing-function: ease-in-out;
}
.banner img:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}

/*------------------------------------
   Menu & Content section started
 ---------------------------------- */
.contents {
  display: grid;
  grid-template-columns: 1fr 3.4fr;
  gap: 30px;
  padding-bottom: 60px;
  max-width: 100%;
}
.menu-option {
  position: sticky;
  top: 40px;
  background: #3f75c669;
  background: linear-gradient(120deg, #138bd6, #e20505);
  border-radius: 10px;
  min-width: 200px;
  height: 245px;
  padding: 30px;
}
.menu-option div {
  padding: 13.7px;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  margin-top: 18px;
}

.menu-option a {
  text-decoration: none;
  color: rgb(10, 10, 10);
}
.menu-option div:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}
.option-1 {
  background-color: #efefeff4;
}
.option-2 {
  background-color: #efefeff4;
}
.option-3 {
  background-color: crimson;
 background: linear-gradient(120deg, #138bd6, #e20505);
}
.option-3 a {
  color: aliceblue;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.blogs .design:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}

.design {
  width: 245px;
  height: 365px;
  border: 1px solid rgba(217, 203, 203, 0.937);
  border-radius: 10px;
  background-color: rgb(188, 223, 254);
  background: linear-gradient(to bottom right, #59ff00be, #00f4f069);
  background: linear-gradient(120deg, #138bd6, #e20505);
}
.design img {
  border-radius: 10px 10px 0 0;
  width: 230px;
}
.design img:hover {
  transform: rotateY(180deg);
}
.click-para {
  margin: 10px;
}
.click-para button {
  background-color: rgb(247, 252, 254);
  border-radius: 3px;
  padding: 2px;
  font-weight: 700;
}
.click-para a {
  color: #02313c;
  text-decoration: none;
}
.click-para button:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
  background-color: rgb(168, 241, 112);
}
.click-para a:hover {
  text-decoration: none;
  /* color: aliceblue; */
  color: rgb(198, 84, 3);
}
.time-chat {
  margin: 12px;
}

.time-chat .fa-clock {
  margin: 15px;
  color: #430419;
}
.time-chat .fa-clock:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.5);
}
.time-chat .fa-comment-dots {
  margin: 15px;
  padding-left: 17px;
  color: #197209;
}
.time-chat .fa-comment-dots:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.5);
}
/* View ALL Button For the Tablet User */
.view-all {
  display: none;
  margin: 60px;
}
.view-all button {
  width: 143px;
  height: 60px;
  color: white;
  background-color: #dd0000;
  padding: 12px 29px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  align-content: center;
}
/* ---------------
footer Section CSS
--------------- */
footer {
  text-align: center;
  background-color: #226ee0;
 background: linear-gradient(120deg, #138bd6, #e20505);
}
footer h2 {
  font-weight: 600;
  font-size: 40px;
  padding-top: 60px;
  color: rgb(229, 229, 229);
}
footer hr {
  margin: 20px 150px 20px 150px;
  opacity: 0.4;
}
.footer-nav a {
  opacity: 0.7;
  text-decoration: none;
  color: #b9b9b9;
  font-size: 16px;
}
.footer-nav {
  display: flex;
  column-gap: 52px;
  padding-top: 20px;
  justify-content: center;
}
.follow-us {
  display: flex;
  padding: 50px;
  column-gap: 35px;
  justify-content: center;
  font-size: 35px;
}

.follow-us .fb {
  color: lightcoral;
}
.follow-us .lin {
  color: lightcoral;
}
.follow-us .git {
  color: lightcoral;
}
.footer-head h2:hover {
  color: crimson;
}
.footer-head a:hover {
  color: snow;
}
/*----------------------------------------------------------------
-------------------- Footer Section Ended Here-----------------------
---------------------------------------------------------------- */

/*------------------------------------
   Upcoming match CSS/Match.html CSS Here
 ------------------------------------- */
.no-1 {
  background-color: crimson;
 background: linear-gradient(120deg, #138bd6, #e20505);
}
.no-2 {
  background-color: aliceblue;
}
.no-3 {
  background-color: aliceblue;
}
.no-1 a {
  color: aliceblue;
}
.upcoming-matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.match-details {
  border: 1px solid rgba(221, 156, 156, 0.937);
  border-radius: 10px;
  padding: 40px;
  background-color: rgb(188, 223, 254);
  background: linear-gradient(120deg, #138bd6, #e20505);
}
.flags {
  display: flex;
  gap: 11px;
  align-items: center;
}
.flags span {
  font-weight: 700;
}
.flags img {
  width: 100%;
}

.match-time {
  text-align: center;
}
.match-time p {
  opacity: 0.7;
}
.match-details div:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}

/*--------------------------------------------
            Group page CSS Here Started
 ----------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap");
.World-cup-Qualifiers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.past {
  background-color: aliceblue;
}
.past- {
  background-color: aliceblue;
}
.present {
  background-color: crimson;
background: linear-gradient(120deg, #138bd6, #e20505);
}
.present a {
  color: aliceblue;
}
.final-groups {
  background-color: rgb(188, 223, 254);
 background: linear-gradient(120deg, #138bd6, #e20505);
  border: 1px solid rgba(252, 203, 203, 0.698);
  border-radius: 10px;
  padding: 40px;
}
.flexing {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Lobster Two", cursive;
  font-weight: 600;
}
.flexing div:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.flexing img {
  border-radius: 7px;
  padding: 5px;
}
