/*---------------------------------------------------
---------- Responisve CSS Is Staeted Here------------
----------------------------------------------------- */
/* Media Queries For Mobile Device */
@media only screen and (max-width: 688px) {
  header {
    display: grid;
    grid-template-columns: 15px 220px 110px 20px;
  }
  header > div {
    font-size: 8px;
  }
  .left img {
    padding-left: 10px;
    width: 30px;
    height: 45px;
  }
  .uses {
    padding-left: 30px;
    padding-top: 12px;
  }
  .uses .active {
    font-size: 12px;
  }
  .uses a {
    padding-left: 2px;
  }
  .user {
    padding-top: 12px;
    padding-left: 10px;
    font-size: 9px;
  }
  .user button {
    border-radius: 10px;
    padding-top: 0px;
  }
  .right img {
    padding-right: 10px;
    width: 30px;
    height: 45px;
  }
  .user .fa-magnifying-glass {
    padding-right: 3px;
  }
  .user .active {
    font-size: 10px;
  }
  .user .passive {
    font-size: 9px;
  }

  /* Header Responsiveness Completed --------
  ---------------------------------*/

  main {
    margin: 25px 16px 0px 16px;
    width: 100%;
  }
  .banner {
    flex-direction: column;
    width: 360px;
    height: 660px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #3574d2c4;
  }
  .banner-text {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
  }
  .banner-text h1 {
    color: white;
    font-weight: 700;
    font-size: 24px;
    width: 228px;
    height: 66px;
    padding-left: 75px;
    padding-top: 35px;
    padding-bottom: 15px;
  }
  .banner-text p {
    width: 258px;
    height: 48px;
    font-size: 14px;
    width: 80%;
    padding-left: 40px;
    padding-bottom: 65px;
  }
  .banner-text button {
    padding: 10px 10px;
  }
  .goat {
    transform: rotateY(180deg);
    padding-left: 10px;
  }
  .goat img {
    width: 300px;
    height: 300px;
  }
  /*------------------------------------------ Starting main Section Responsiveness 
------------------------------------------*/
  .contents {
    display: flex;
    flex-direction: column;
  }
  .menu-option {
    position: static;
    border-radius: 10px;
    width: 300px;
    height: 240px;
    background: #3f75c64b;
  }
  .menu-option div {
    padding: 15px;
  }
  .option-1 {
    width: 190px;
    height: 30px;
    margin-left: 42px;
  }
  .option-2 {
    width: 165px;
    height: 30px;
    margin-left: 55px;
  }
  .option-3 {
    width: 150px;
    height: 30px;
    margin-left: 60px;
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    width: 100%;
  }
  .design {
    width: 360px;
    height: 388.69px;
    background-color: rgb(188, 223, 254);
  }
  .design img {
    width: 360px;
  }
  footer h2 {
    font-size: 30px;
    padding-top: 60px;
  }
  footer hr {
    margin: 15px 100px 15px 100px;
    opacity: 0.4;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
  }
  .follow-us {
    padding: 45px;
    column-gap: 25px;
    justify-content: center;
    font-size: 22px;
  }
}
